html,
body {
    height: 100%;
    color: #a89a42;
}
a {
    color: #a89a42;
    text-decoration: none;
}
a :hover {
    z-index: 2;
    color: #e57f12;
    background-color: #1d2124;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #1d2124;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    border-top: 1px solid #866f4f;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #a89a42;
    text-decoration: none;
    background-color: #1d2124;
    border: 0px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #e57f12;
    cursor: default;
    background-color: #1d2124;
    font-weight: bold;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #866f4f;
    cursor: not-allowed;
    background-color: #1d2124;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #e57f12;
    background-color: #1d2124;
}
.title {
    font-size: large;
    text-align: center;
    margin:10px;
}
.row-equal {
    display: flex;
    flex-wrap: wrap;
}
.col-equal {
    margin: auto;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #323439;
}
.table > thead > tr > th {
    text-align: center;
}
table {
    border-collapse: collapse !important;
}
table, th, td {
    border: 1px solid #866f4f !important;
}
.navbar-inverse .navbar-brand {
    color: #e57f12;
}
.navbar-inverse .navbar-nav > li > a {
    color: #866f4f;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #e57f12;
}